/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



*{
  box-sizing: border-box;
}
body, html{
  width: 100%;
  height: 100%;
}

body {
  font-family: "Bookerly", Helvetica, Arial, sans-serif;
  color: #111;
}
.articles {
  width: 100%;
}
.feed-title {
  font-size: 2em;
  padding: 20px 20px;
  border-bottom: 4px solid lightgray;
  height: 92px;
}
.feed-item {
  padding: 0 20px;
  border-bottom: 4px solid lightgray;
  font-size: 1.2em;
  height: 108px;
  overflow: hidden;
}
small {
  opacity: .5;
}
.feed-link {
  color: #111;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.2em;
  font-size: 1.2em;
  pointer-events: none;
  padding: 10px 0;
}
.feed-source {
  pointer-events: none;
}
.feed-content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background: white;
  font-size: 1.3em;
  line-height: 1.6em;
  padding: 50px;
  padding-bottom: 110px;
  z-index: 1;
  height: 1168px;
  height: calc(100vh - 100px);
  overflow: scroll;
}
.feed-content p {
  padding-bottom: 40px;
}
.feed-content__title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 30px;
}
.feed-bar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: white;
  height: 100px;
  display: flex;
  white-space: nowrap;
  font-size: 0px;
}
.feed-bar__item {
  text-align: center;
  border-right: 4px solid black;
  border-top: 4px solid black;
  display: inline-block;
  height: 100px;
  padding: 20px 0;
}
.feed-bar__item:last-child{
  border-right: none;
}

/* first level of total 2 levels */
.feed-bar__item:nth-child(1):nth-last-child(2),
/* second level of total 2 levels */
.feed-bar__item:nth-child(2):nth-last-child(1){
  width: 50%;
}


/* first level of total 3 levels */
.feed-bar__item:nth-child(1):nth-last-child(3),
/* second level of total 3 levels */
.feed-bar__item:nth-child(2):nth-last-child(2),
/* third level of total 3 levels */
.feed-bar__item:nth-child(3):nth-last-child(1){
  height: 100px;
  width: 33.3%;
}
/* first level of total 3 levels */
.feed-bar__item:nth-child(1):nth-last-child(3),
/* second level of total 3 levels */
.feed-bar__item:nth-child(2):nth-last-child(2) {
  padding: 34px 0px;
}
/* third level of total 3 levels */
.feed-bar__item:nth-child(3):nth-last-child(1){
  font-size: 50px;
  padding: 24px 0px;
}

.u-hidden {
  display: none;
}

img{
  width: 80%;
  margin: 20px 10%;
}
svg {
  /* pointer-events: none; */
}